# Question 1. One variable containing following type of data
	
(i)string;
(ii)list;
(iii)float;
(iv)tuple.

In [6]:
"""string is a group of characters. it can contain spaces, letters, numbers, symbols.
ie- My name is tikkku"""

name = "tikku"
print(f"my name is {name}")
#the ouput is the example of a string.

my name is tikku

In [8]:
"""list is a mutable type of data structure (modification of the elements is possible after
its creation) it can hold string, float, int, bool and complex numbers ec cetera"""
list = [25, 2.5, "tikku", 3+4j, True]
list
#the ouput is the example of a list.

[25, 2.5, 'tikku', (3+4j), True]

In [9]:
"""Similar to lists, tuples can hold string, float, int, bool and complex numbers ec cetera
However, unlike lists, tuples are immutable."""
tuple = (25, 2.5, "tikku", 3+4j, True)
tuple
#the ouput is the example of a tuple.

(25, 2.5, 'tikku', (3+4j), True)

In [5]:
"""float is a decimal number, which can be positive or negative."""
a = 12.5
b = -12.5
type(a), type(b)
#the output confirms that variable a and b are the float.

(float, float)

In [6]:
"""int (integer) is a whole number without decimals. it can be positive or negative."""
a = 36565
b = 44654
type(a), type(b)
#the output confirms that variable a and b are the int.

(int, int)

Question 2.What will be the data type of the given variable.

(i)var1 = ‘ ‘ - this is a string with a whitespace,the value assigned to var1 is an empty string.

(ii)var2 = ‘[ DS , ML , Python]’ - this a string, as the character is inside single quotes (' ') marks.

(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] - this is a list.

(iv)var4 = 1 - var4 is assigned to an int.

Question 3. Explain the use of the following operators using an example:

(i) /

(ii) % 

(iii) //

(iv) **

In [7]:
""" "/" is a division operator."""
a = 12/6
a
#output shows the result of the divison operator

2.0

In [8]:
""" "%" is a modulus operator. It returns the remainder."""
a = 4%3
a 
#4/3 leaves 1 as a remainder

1

In [10]:
""" "//" is a floor divison operator.
it divides two numbers and rounds the result down to the nearest integer"""
a = 21//2
a
#the nearest whole number for the a is 10, as output shows.

10

In [11]:
""" "**" is Exponentiation operator, it works as following"""
a = 2**3
a
#2**3 is same as 2*2*2, producing 8 as a result

8

Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [1]:
list = [10, 10.5, True, False, (1,2,3), 9-4j, "tikku",{"name":"tikku"},None,[4,5,6]]

In [2]:
for i in list:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'tuple'>
<class 'complex'>
<class 'str'>
<class 'dict'>
<class 'NoneType'>
<class 'list'>

Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [5]:
a = int(input("enter a"))
b = int(input("enter b"))
count = 0

while a%b == 0:
    a = a//b
    count += 1
    
if count>0:
    print(f"can be divided {count} times")
else:
    print("not divisable")

enter a 15
enter b 4

not divisable

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [8]:
list = (range(1,26))
for int in list:
    if int%3 == 0:
        print(f"{int} is divisible by 3")
    else:
        print(f"{int} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [13]:
"""Mutable Data Types:
values can be modified after they are created. one can directly change the content of a 
mutable object without creating a new one. Example- list and dictionaries"""

list = [1, 2, 3]
list[0] = 4  # Modifying the element at index 0
print(list)  
# Output: [4, 2, 3]

dict = {"name":"tikku", "age":00}
dict ["age"] = 27 
#correcting the value of the "age" key.
dict

[4, 2, 3]

{'name': 'tikku', 'age': 27}

In [15]:
"""Immutable Data Types:
values which cannot be modified once they are created. Any attempt to modify object 
results in the creation of a new object with the modified value, while the original 
object remains unchanged.Example- strings and tuple."""

str1 = "my name is"
str2 = str1+ "tikku"
print(str1)
print(str2)

tuple1 = (1,2,3)
tuple1[0] = 0
#trying to modify the value at 0th index will raise an error
tuple1

my name is
my name istikku

TypeError: 'tuple' object does not support item assignment